* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.logo {
  font-family: "Valorant", sans-serif;
  color: white;
  position: absolute;
  
  left: 0;
  padding: 35px;
  font-size: 30px;
}



.logo-text {
  color: red;
  background-color: red;
  width: 150px;
}

.logo-div {
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.list-btns {
  list-style-type: none;
  display: flex;
  padding: 35px;
  font-family: "Valorant" sans-serif;
  letter-spacing: 1px;
  width: 40rem;
  color: white;
  background-color: black;
  justify-content: space-between;
  font-size: small;

}

.nav-links {
  display: flex;
}

.nav-links li:hover{
  cursor:pointer;
  color:yellow;
}
.home-nav-link{
  color:yellow;
}
.nav-links li {
  padding-right: 18px;
  margin-right: 10px;
}
.log-in-btn {
  color: black;
  width: 100px;
  height: 30px;
  background-color: yellow;
  border: 1px solid black;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  color: yellow;
}